<div>

    <div class="alert alert-danger" ng-if="error">
        <i class="fa fa-spinner fa-pulse"></i> {{ error }}
    </div>

    <div class="row" ng-if="services">
        <div class="col-md-6">
            <h3>Services issues: {{ services.length }}</h3>
        </div>
    </div>
    <hr />
    <form class="form" ng-if="services">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="filter.$" placeholder="filter services">
        </div>
    </form>

    <table class="table" ng-if="services" si-table>
        <thead>
            <tr>
                <th sort-by="Name">Service</th>
                <th sort-by="LastPingDate" sort-init="desc">Last active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr si-sortable="single" ng-repeat="service in services | filter:filter">
                <td>
                    <strong><a href="#/services/{{ service.Guid }}">{{ service.Name }}</a></strong><br />
                    <span class="text-muted">Last seen:</span> <strong><span am-time-ago="service.LastPingDate"></span></strong><br />         
                    <span class="text-muted">Last restart:</span> {{ service.StartDate | date: "dd/MM/yy H:mm:ss" }}<br />
                    <span class="text-muted">Host:</span> <a href="#/hosts/{{ service.HostGuid }}">{{ service.HostName }}</a><br />  
                    <span class="text-muted">Host location:</span> {{ service.Host.Location?(service.Host.Location):"Not set" }}<br />                
                    <span class="text-muted">Install path:</span> {{ service.LocalPath }}<br />
                    <span class="label label-default" ng-repeat="tag in service.Tags">{{tag}}{{$last ? '' : ', '}}</span>
                </td>
                <td>{{ service.LastPingDate | date: "dd/MM/yy H:mm:ss" }}</td>
                <td><button class="btn btn-danger" ng-click="decommissionService(service.Guid);">Decommission</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <si-table-pagination limit="5" />
                </td>
            </tr>
        </tfoot>
    </table>
    
    <div class="alert alert-info" ng-if="!services && !error">
        <i class="fa fa-spinner fa-pulse"></i> Loading ...
    </div>
</div>


