<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rethinkdb" type="RethinkDb.Configuration.RethinkDbClientSection, RethinkDb" />
  </configSections>
  <appSettings>
    <add key="AuthorizedTokens" value="eb87e1c2-96c7-4e88-af28-2e1b543f0aaf, af59ad7c-dc8a-4477-8758-1ce47654026a" />
    <add key="Port" value="9000" />
    <add key="ServiceName" value="ServiceRegistry" />
    <add key="AmqpUri" value="amqp://guest:guest@localhost:5672/%2f" />
    <add key="AmqpAdmin" value="http://localhost:15672" />
    <add key="RethinkAdmin" value="http://192.168.1.125:8080" />
    <add key="DisconnectTimeout" value="2" />
  </appSettings>
  <rethinkdb>
    <clusters>
      <cluster name="registry" authorizationKey="IjcyPrhpHQ4zAIDMkOXa">
        <defaultLogger enabled="true" category="Warning" />
        <connectionPool enabled="true" />
        <networkErrorHandling enabled="true" />
        <endpoints>
          <endpoint address="192.168.3.19" port="28015" />
          <endpoint address="192.168.3.20" port="28015" />
        </endpoints>
      </cluster>
      <cluster name="registry.home">
        <defaultLogger enabled="true" category="Warning" />
        <connectionPool enabled="true" />
        <networkErrorHandling enabled="true" />
        <endpoints>
          <endpoint address="192.168.1.125" port="28015" />
          <endpoint address="192.168.1.125" port="28016" />
        </endpoints>
      </cluster>
    </clusters>
  </rethinkdb>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>